@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --outline: 0 0% 14%;
    --bluish: 204 93.8% 93.7%;
    --bluish-foreground: 202 80.3% 23.9%;
    --redish: 0 93.3% 94.1%;
    --redish-foreground: 0 62.8% 30.6%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    /* --destructive: 0 62.8% 30.6%; */
    --destructive: 359 68% 47%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --outline: 0 0% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    box-sizing: border-box;
  }
}

@layer components {
  .form-styles {
    @apply space-y-8 lg:space-y-0 lg:grid grid-cols-2 gap-4;
  }

  .current-flag-wrapper {
    @apply space-y-2 pt-2;
  }

  .form-select {
    @apply p-2 rounded-md w-full bg-primary/50 placeholder:text-white text-white text-sm font-semibold py-[10px];
  }

  .form-select-option {
    @apply text-primary-foreground;
  }

  .form-multiple-selector-styles {
    @apply border border-input font-semibold pt-[2px] focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-ring;
  }

  .form-field-loading-styles {
    @apply flex items-center justify-center gap-2 h-full;
  }

  .empty-indicator {
    @apply text-center text-lg leading-10 text-gray-600 dark:text-gray-400;
  }

  .dashboard-table {
    @apply mt-4 mb-2 caption-bottom dark:border-primary/10  relative !important;
  }

  .dashboard-table-row {
    @apply border-b-[1px] border-b-primary/10 !important;
  }

  .dashboard-head-table-row {
    @apply bg-primary/10 hover:bg-primary/10 border-0 !important;
  }

  .dashboard-table-cell {
    @apply text-left font-bold py-4 !important;
  }

  .dashboard-head-table-cell {
    @apply text-left !important;
  }

  .dashboard-search-and-add {
    @apply flex flex-col-reverse md:flex-row items-center gap-2 mt-1;
  }
}
